<!DOCTYPE html>
<html ng-app="PROJETOTESTE">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
  
    @Scripts.Render("~/bundles/modernizr") <!--Pra que serve isso????????????-->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Estudo", "Index", "Estudo", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Clientes/estudoAngular", "Index", "estudoAngular", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Correia", "Index", "correia", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script><!--CDN DO ANGULAR-->
    <script src="~/Scripts/master.js"></script><!--Criei aqui por que quero que sempre seja puxado na pagina Mãe(principal)-->
    <script src="~/Scripts/aleatorios.js"></script><!--por causa disso posso usar o objeto aleatorio do js que te mmeus metodos em todas as classes js do projeto -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)<!--Aqui criei assim por que quero que seja puxado tudo que esteja na sessão scripts(dentro dela terá minhas chamadas de<script>"~/Scripts/estudo.js</script> -->
</body>
</html>
